<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SqlserverConnection_1" connectionString = "Data Source=CHLAPDTHOTAJI\SQLEXPRESS;database = RRD_db1;Integrated Security=True;Trust Server Certificate=True;Encrypt = False ; Connection Timeout=300"/>
	</connectionStrings>
	</configuration>