@{
	ViewBag.ChildTitle = "Contact Us";
	
}

<<!DOCTYPE html>
    <html>
    <head>
        <title>Contact US</title>
    </head>
    <body>
    <div class="container content-section text-center">
        <h2>Contact Us</h2>
        <p>Email: support@abcfinancial.com | Phone: +1 (123) 456-7890</p>
        <p>Address: 123 Financial Street, New York, NY, USA</p>
    </div>
    </body>
    </html>